* {
    font-family: "Arial", sans-serif;
    box-sizing:border-box;

}

html, body {
    height:100vh;
    width:100vw;
    padding: 0;
    margin: 0;

}
body {
    background-repeat:no-repeat;
    background-size:cover;
    background:white;
}

nav {
    justify-content:space-evenly;
    display:flex;
    align-items: center;

}
nav li {
    display:flex;
    justify-content:center;
    align-items: center;
    flex:none;
    list-style: none;
    width:auto;    
}
nav li button {
    background-color: #51A5E8;
    border-radius:40px;
    width:auto + 15%;
    height:auto;
    cursor:pointer;
    border:none;
    

}

.main-content {
    border-radius: 40px;
    background-color: #00539f;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:80%;
    height:85%;
    display:grid;
    place-items:center;
    transition: width 3s ease, height 3s ease;

}


.main-content:hover {
    width: 90%;
    height:90%;
}

.main-content > h1, p, input {
    text-align:center;
}

.qr_container {
    width: 50%;
    height:75%;
    margin:0;
    padding:0;
    
}



/*dark mode */
/* @media(prefers-color-scheme: dark) {
    * {
        color-scheme:dark;
    }
    .main-content {
        background-color: #00539f;
    }
} */

/*light mode */
/* @media(prefers-color-scheme: light) {
    * {
        color-scheme:light;
    }
    .main-content {
        background-color: #00539f;
    }
} */